USE [finalproject]
GO
/****** Object:  Schema [event]    Script Date: 27/12/2024 2:03:26 pm ******/
CREATE SCHEMA [event]
GO
/****** Object:  Schema [users]    Script Date: 27/12/2024 2:03:26 pm ******/
CREATE SCHEMA [users]
GO
/****** Object:  Table [event].[Attendance_1]    Script Date: 27/12/2024 2:03:27 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [event].[Attendance_1](
	[Student_Number] [int] NOT NULL,
	[Student_Name] [nvarchar](100) NOT NULL,
	[Department] [nvarchar](100) NOT NULL,
	[Attendance_Time] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [event].[Event_List]    Script Date: 27/12/2024 2:03:27 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [event].[Event_List](
	[EventID] [int] IDENTITY(1,1) NOT NULL,
	[EventName] [nvarchar](255) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[Departments] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [users].[Admin_Users]    Script Date: 27/12/2024 2:03:27 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [users].[Admin_Users](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [users].[Student_List_BED]    Script Date: 27/12/2024 2:03:27 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [users].[Student_List_BED](
	[Student_Number] [varchar](50) NULL,
	[Student_Name] [varchar](100) NULL,
	[Password] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [users].[Student_List_CAE]    Script Date: 27/12/2024 2:03:27 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [users].[Student_List_CAE](
	[Student_Number] [varchar](50) NULL,
	[Student_Name] [varchar](100) NULL,
	[Password] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [users].[Student_List_CAFAE]    Script Date: 27/12/2024 2:03:27 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [users].[Student_List_CAFAE](
	[Student_Number] [varchar](50) NULL,
	[Student_Name] [varchar](100) NULL,
	[Password] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [users].[Student_List_CASE]    Script Date: 27/12/2024 2:03:27 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [users].[Student_List_CASE](
	[Student_Number] [varchar](50) NULL,
	[Student_Name] [varchar](100) NULL,
	[Password] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [users].[Student_List_CCE]    Script Date: 27/12/2024 2:03:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [users].[Student_List_CCE](
	[Student_Number] [varchar](50) NULL,
	[Student_Name] [varchar](100) NULL,
	[Password] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [users].[Student_List_CCJE]    Script Date: 27/12/2024 2:03:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [users].[Student_List_CCJE](
	[Student_Number] [varchar](50) NULL,
	[Student_Name] [varchar](100) NULL,
	[Password] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [users].[Student_List_CEE]    Script Date: 27/12/2024 2:03:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [users].[Student_List_CEE](
	[Student_Number] [varchar](50) NULL,
	[Student_Name] [varchar](100) NULL,
	[Password] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [users].[Student_List_CHE]    Script Date: 27/12/2024 2:03:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [users].[Student_List_CHE](
	[Student_Number] [varchar](50) NULL,
	[Student_Name] [varchar](100) NULL,
	[Password] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [users].[Student_List_CHSE]    Script Date: 27/12/2024 2:03:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [users].[Student_List_CHSE](
	[Student_Number] [varchar](50) NULL,
	[Student_Name] [varchar](100) NULL,
	[Password] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [users].[Student_List_CTE]    Script Date: 27/12/2024 2:03:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [users].[Student_List_CTE](
	[Student_Number] [varchar](50) NULL,
	[Student_Name] [varchar](100) NULL,
	[Password] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [users].[Student_List_PS]    Script Date: 27/12/2024 2:03:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [users].[Student_List_PS](
	[Student_Number] [varchar](50) NULL,
	[Student_Name] [varchar](100) NULL,
	[Password] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [users].[Student_List_TS]    Script Date: 27/12/2024 2:03:28 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [users].[Student_List_TS](
	[Student_Number] [varchar](50) NULL,
	[Student_Name] [varchar](100) NULL,
	[Password] [varchar](50) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [event].[Event_List] ON 

INSERT [event].[Event_List] ([EventID], [EventName], [StartDate], [EndDate], [StartTime], [EndTime], [Departments]) VALUES (1, N'Test 001', CAST(N'2024-12-27' AS Date), CAST(N'2024-12-27' AS Date), CAST(N'07:00:00' AS Time), CAST(N'08:00:00' AS Time), N'CEE, CCE, CCJE')
SET IDENTITY_INSERT [event].[Event_List] OFF
GO
SET IDENTITY_INSERT [users].[Admin_Users] ON 

INSERT [users].[Admin_Users] ([AdminID], [Username], [Password]) VALUES (1, N'admin', N'admin')
SET IDENTITY_INSERT [users].[Admin_Users] OFF
GO
INSERT [users].[Student_List_BED] ([Student_Number], [Student_Name], [Password]) VALUES (N'107101', N'Eric John Santos', N'n9Sx1w64')
INSERT [users].[Student_List_BED] ([Student_Number], [Student_Name], [Password]) VALUES (N'111589', N'Nicole Anne Villanueva', N'C5qmTImQ')
INSERT [users].[Student_List_BED] ([Student_Number], [Student_Name], [Password]) VALUES (N'147438', N'Maria Teresa Cruz', N'E399Vq90')
GO
INSERT [users].[Student_List_CAE] ([Student_Number], [Student_Name], [Password]) VALUES (N'152153', N'Patrick John Castillo', N'mbuHL5ev')
INSERT [users].[Student_List_CAE] ([Student_Number], [Student_Name], [Password]) VALUES (N'175406', N'Rhea Anne Pineda', N'6W1PO1FQ')
INSERT [users].[Student_List_CAE] ([Student_Number], [Student_Name], [Password]) VALUES (N'166556', N'Maria Elena Santos', N'IeMvxl97')
GO
INSERT [users].[Student_List_CAFAE] ([Student_Number], [Student_Name], [Password]) VALUES (N'202745', N'Gabriel Mark Dizon', N'5C381X1r')
INSERT [users].[Student_List_CAFAE] ([Student_Number], [Student_Name], [Password]) VALUES (N'214702', N'Teresa Mae Alvarado', N'8c6ad8TG')
INSERT [users].[Student_List_CAFAE] ([Student_Number], [Student_Name], [Password]) VALUES (N'200511', N'Michael James Torres', N'txO92puw')
GO
INSERT [users].[Student_List_CASE] ([Student_Number], [Student_Name], [Password]) VALUES (N'260041', N'Samuel Mark Dizon', N'B038d8Kx')
INSERT [users].[Student_List_CASE] ([Student_Number], [Student_Name], [Password]) VALUES (N'280399', N'Sarah Mae Villanueva', N'49j4ijsH')
INSERT [users].[Student_List_CASE] ([Student_Number], [Student_Name], [Password]) VALUES (N'277073', N'Samuel Joseph Alonzo', N'CA4zO092')
GO
INSERT [users].[Student_List_CCE] ([Student_Number], [Student_Name], [Password]) VALUES (N'305049', N'Maria Clara Reyes', N'rV23FtkT')
INSERT [users].[Student_List_CCE] ([Student_Number], [Student_Name], [Password]) VALUES (N'301308', N'Patrick John Castillo', N'8T4Q9IR1')
INSERT [users].[Student_List_CCE] ([Student_Number], [Student_Name], [Password]) VALUES (N'305323', N'Patrick James Salazar', N'XGEpjz53')
GO
INSERT [users].[Student_List_CCJE] ([Student_Number], [Student_Name], [Password]) VALUES (N'357614', N'Christian Lee Reyes', N'paNs06JW')
INSERT [users].[Student_List_CCJE] ([Student_Number], [Student_Name], [Password]) VALUES (N'358481', N'Joshua Mark Alvarado', N'T62wI8HJ')
INSERT [users].[Student_List_CCJE] ([Student_Number], [Student_Name], [Password]) VALUES (N'367846', N'Samuel Mark Dizon', N'0kAX7g71')
GO
INSERT [users].[Student_List_CEE] ([Student_Number], [Student_Name], [Password]) VALUES (N'426371', N'Ronald John Bautista', N'1t4U09gT')
INSERT [users].[Student_List_CEE] ([Student_Number], [Student_Name], [Password]) VALUES (N'477678', N'Maria Clara Pineda', N'hiU7ivZk')
INSERT [users].[Student_List_CEE] ([Student_Number], [Student_Name], [Password]) VALUES (N'589708', N'Michael James Torres', N'912YT8e0')
GO
INSERT [users].[Student_List_CHE] ([Student_Number], [Student_Name], [Password]) VALUES (N'640314', N'Samuel Joseph Alonzo', N'0aEk0Kyc')
INSERT [users].[Student_List_CHE] ([Student_Number], [Student_Name], [Password]) VALUES (N'619882', N'Christine Joy Dela Cruz', N'8vBzy9yD')
INSERT [users].[Student_List_CHE] ([Student_Number], [Student_Name], [Password]) VALUES (N'612232', N'Maria Clara Pineda', N'O8kVAnPq')
GO
INSERT [users].[Student_List_CHSE] ([Student_Number], [Student_Name], [Password]) VALUES (N'669413', N'Eric John Santos', N'79S4tVa0')
INSERT [users].[Student_List_CHSE] ([Student_Number], [Student_Name], [Password]) VALUES (N'682135', N'Ronald Joseph Santos', N'26mtMma9')
INSERT [users].[Student_List_CHSE] ([Student_Number], [Student_Name], [Password]) VALUES (N'684794', N'Richard Lee Torres', N'2tEr5f5v')
GO
INSERT [users].[Student_List_CTE] ([Student_Number], [Student_Name], [Password]) VALUES (N'703216', N'Richard Paul Villanueva', N'PpyR89KP')
INSERT [users].[Student_List_CTE] ([Student_Number], [Student_Name], [Password]) VALUES (N'723480', N'Richard Paul Villanueva', N'eYm9AAF0')
INSERT [users].[Student_List_CTE] ([Student_Number], [Student_Name], [Password]) VALUES (N'712125', N'Maria Clara Pineda', N'6nBo6567')
GO
INSERT [users].[Student_List_PS] ([Student_Number], [Student_Name], [Password]) VALUES (N'785009', N'Patrick James Salazar', N'1sr7ODEC')
INSERT [users].[Student_List_PS] ([Student_Number], [Student_Name], [Password]) VALUES (N'757248', N'Leo Anthony Bautista', N'6hgHhmQt')
INSERT [users].[Student_List_PS] ([Student_Number], [Student_Name], [Password]) VALUES (N'781454', N'Angela Joy Villanueva', N'0Hcrbf79')
GO
INSERT [users].[Student_List_TS] ([Student_Number], [Student_Name], [Password]) VALUES (N'824253', N'Eric John Alonzo', N'K7n4e8bG')
INSERT [users].[Student_List_TS] ([Student_Number], [Student_Name], [Password]) VALUES (N'847148', N'Christian Mark Pineda', N'D1UjOb0p')
INSERT [users].[Student_List_TS] ([Student_Number], [Student_Name], [Password]) VALUES (N'839238', N'Leo Anthony Dizon', N'72HMV09V')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Admin_Us__536C85E4FF761C02]    Script Date: 27/12/2024 2:03:30 pm ******/
ALTER TABLE [users].[Admin_Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
